<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url('static/image/bg2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }

        .text-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
        }
    </style>
</head>
<body>
    <div id="text1" class="text-container"></div>

    <script>
        const text1 = "关于我们^.^";
        const speed = 100;

        function typeWriter(text, elementId, speed) {
            let i = 0;
            const element = document.getElementById(elementId);
            element.innerHTML = "";

            function type() {
                if (i < text.length) {
                    element.innerHTML += text.charAt(i);
                    i++;
                    setTimeout(type, speed);
                }
            }

            type();
        }

        typeWriter(text1, "text1", speed);
    </script>
</body>
</html>
